* {
	font-family: Arial, Helvetica, sans-serif;
}

:root {
	--crimson: crimson;
	--orange: rgb(238, 166, 78);
	--blue: #FFF9C4;
	/* --blue: #4285F4; */
	--darkblue: #FBC02D;
	/* --darkblue: #0d47a1; */
	--skype: #00aff0;
	--gray: #37474F;
	--shadow: 5px 8px 16px 8px rgba(0, 0, 0, 0.2);
	;
}

body {
	margin: 0;
	padding: 0;
}

.container {
	height: 100vh;
	width: 100vw;
	display: grid;
	place-content: center;
}

.dashboard-container {
	width: 100vw;
	display: grid;
	justify-content: center;
	margin: 10px;
}

.card {
	margin: 10px;
	padding: 10px;
	background: var(--blue);
	display: grid;
	width: 35vw;
	text-align: center;
	box-shadow: 5px 8px 16px 8px rgba(0, 0, 0, 0.2);
	border-collapse: separate;
	border-radius: 10px;
}

.card-heading {
	padding: 5px;
	color: navy;
	text-align: center;
}

.sidebar{
	margin: 10px;
	padding: 10px;
	background: var(--blue);
	display: grid;
	max-width: 25vw;
	max-height: 80vh;
	text-align: start;
	box-shadow: 5px 8px 16px 8px rgba(0, 0, 0, 0.2);
	border-collapse: separate;
	border-radius: 10px;
}

.side-card{
	display: grid;
	justify-content: center;
	margin: 10px;
	padding: 20px;
	border: 1px solid #37474F;
	border-collapse: separate;
	border-radius: 7px;
	box-shadow: var(--shadow);
	max-width: 30vw;
	color: navy;
	overflow-wrap: break-word;
}	

.side-gif{
	display: grid;
	justify-content: center;
	margin: 10px;
	border: 1px solid #37474F;
	border-collapse: separate;
	border-radius: 7px;
	box-shadow: var(--shadow);
	width: 15vw;
	height: 200px;
	color: navy;
	overflow-wrap: break-word;
}

.todo-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.todo-card {
	margin: 10px;
	padding: 10px;
	background: var(--blue);
	display: grid;
	word-wrap: break-word;
	min-width: 75%;
	min-height: 10vh;
	text-align: start;
	box-shadow: 5px 8px 16px 8px rgba(0, 0, 0, 0.2);
	border-collapse: separate;
	border-radius: 10px;
}

.btn-blue {
	background-color: var(--darkblue);
	border-collapse: separate;
	border: 0;
	font-size: 15px;
	border-radius: 7px;
	color: white;
	padding: 15px;
}

.btn-outline-crimson {
	background-color: transparent;
	border-collapse: separate;
	border: 1px solid var(--crimson);
	font-size: 15px;
	border-radius: 7px;
	color: var(--crimson);
	padding: 10px;
}

.btn-outline-crimson:hover {
	color: white;
	background-color: var(--crimson);
}

.btn-outline-blue {
	background-color: transparent;
	border-collapse: separate;
	border: 1px solid navy;
	font-size: 15px;
	border-radius: 7px;
	color: navy;
	padding: 10px;
}

.btn-outline-blue:hover {
	color: white;
	background-color: navy;
}

.btn-lightblue {
	background-color: navy;
	border-collapse: separate;
	border: 0;
	padding: 10px;
	margin: 10px;
	font-size: 15px;
	border-radius: 7px;
	color: white;
}

.btn:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.form-label {
	margin: 5px;
	text-align: start;
	color: navy;
	display: block;
}

.form-text {
	text-align: end;
	color: navy;
	font-size: 14px;
	font-style: italic;
}

.todo-text {
	margin-left: 10px;
	text-align: start;
	color: navy;
	font-size: 20px;
}

.todo-heading {
	margin-left: 10px;
	text-align: start;
	color: #37474F;
	font-size: 25px;
}

.todocheck{
	transform: scale(1.3);
	margin: 10px;
}

.todos {
	margin: 10px;
	padding: 20px;
	border: 1px solid #37474F;
	border-collapse: separate;
	border-radius: 7px;
	box-shadow: var(--shadow);
	max-width: 30vw;
	overflow-wrap: break-word;
}

.completedtodo {
	margin: 10px;
	padding: 20px;
	border: 1px solid #37474F;
	border-collapse: separate;
	border-radius: 7px;
	box-shadow: var(--shadow);
	max-width: 30vw;
	overflow-wrap: break-word;
}

.justify-self-start {
	justify-self: start;
}

.form-control {
	border-collapse: separate;
	border: 0;
	border-radius: 7px;
	font-size: 15px;
	padding: 10px;
	margin: 10px;
}

.todo-control {
	border-collapse: separate;
	border: 0;
	border-radius: 7px;
	font-size: 15px;
	padding: 5px;
	margin: 10px;
}

.form-control:focus {
	box-shadow: 5px 8px 16px 8px rgba(0, 0, 0, 0.2);
	outline: none;
}

.form-radio {
	margin-right: 10px;
	transform: scale(1.2);
}

.d-flex {
	padding: 5px;
	display: flex;
	justify-content: center;
}

/* Navbar */

.nav {
	display: flex;
	justify-content: left;
	align-items: center;
	background-color: var(--darkblue);
}

.nav a {
	text-decoration: none;
}

.nav-heading {
	color: white;
	margin-left: 20px;
}

.nav-item {
	display: inline;
	text-decoration: none;
	color: #000;
	font-size: 15px;
	margin-left: 25px;
}

.nav-item-left {
	margin-left: 10px;
	padding: 10px;
	display: flex;
	width: 100%;
	justify-content: flex-start;
	text-decoration: none;
	color: #fff;
	font-size: 15px;
}

.nav-item-right {
	padding: 10px;
	display: flex;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
	text-decoration: none;
	color: navy;
	font-size: 15px;
}

.nav-link {
	text-decoration: none;
	color: #ffffff9d;
}

.active {
	color: white;
	font-size: 17px;
	text-decoration: underline;
}

.row {
	display: flex;
	padding: 5px;
}

.todo-row{
	display: inline;
	padding: 5px;
}

.col {
	display: block;
	width: 50%;
	padding: 6px;
}
.col {
	display: block;
	width: auto;
	padding: 6px;
}

.col-3 {
	display: block;
	width: 30%;
	padding: 6px;
}

.col-7 {
	display: block;
	width: 70%;
	padding: 6px;
}

.m-4 {
	margin: 4px;
}

.ml-4 {
	margin-left: 4px;
}

.ml-10 {
	margin-left: 10px;
}

.m-9 {
	margin: 9px;
}

.w-75 {
	width: 75%;
}

.w-25 {
	width: 25%;
}

.w-100 {
	width: 100%;
}

.p-0 {
	padding: 0px;
}

#txtTodo{
	height: 30px;
}
#btnTodo{
	height: 50px;
}